@font-face {
  font-family: anton;
  src: url(fonts/Anton-Regular.ttf);
}

@font-face {
  font-family: montserrat;
  src: url(fonts/Montserrat-Regular.ttf);
}

@font-face {
  font-family: montserrat;
  font-weight: bold;
  src: url(fonts/Montserrat-Bold.ttf);
}

body {
  font-family: montserrat;
  overflow-x: hidden;
}

.capitalize {
  text-transform: uppercase;
}

header {
  text-align: center;
  background-color: black;
  color: white;
  font-weight: bold;
  padding: 75px;
}

.navbar {
  background-color: white;
}

.navbar a {
  color: black;
}

.float-right-nav {
  position: absolute;
  right: 16px;
}

@media only screen and (min-width: 768px) {
  #collapsible-nav {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  #noncollapsible-nav {
    display: none;
  }
}

#center-joker {
  background-image: url("images/joker-1.png");
  background-size: 1450px 828px;
  background-position: 50% 120%;
  background-repeat: no-repeat;
  width: auto;
  height: 720px;
}

@media only screen and (max-width: 1000px) {
  #center-joker {
    background-size: 1000px 571px;
    background-position: 50% -50%;
  }
}

#central-joker-jumbotron {
  font-size: 3.5em;
  text-align: center;
  margin: 25px 100px;
  padding: 175px;
  border-radius: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
  color: white;
}

@media only screen and (max-width: g250px) {
  #large-screen-jumbotron-text {
    display: none;
  }
}

@media only screen and (min-width: 1250px) {
  #small-screen-jumbotron-text {
    display: none;
  }
}

#first-profile-box {
  background-color: black;
  color: white;
  padding: 0;
}

.about-me-paragraphs {
  margin-top: 25px;
  border-right: solid 1px white;
  padding-right: 50px;
}

.about-me-paragraphs h3 {
  display: inline-block;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid white;
}

.college-name {
  font-weight: bold;
}

#community-college-of-aurora-gpa, #colorado-school-of-mines-gpa {
  float: right;
  font-size: 3em;
  font-weight: bold;
  border: 1px solid white;
  width: 300px;
  padding: 20px;
}